
h2{
    line-height: 10px;
    text-align: left;
    margin: 20px;

}

p{
    margin: 20px;
    text-align: left;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.contactP{
    margin: 20px;
    text-align: left;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}


#pageHeader{
    left: 12%;

    padding-right: 20px;
    /*justify-content: space-between;
    text-align: center;  */
    border-bottom: 5px solid #5c5c5c;
    position: relative;
    width: 75%;
    height: 100%;
}

.divSpace{
    position: relative;
    height: 75px;
}
